@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 0.5rem;
  height: 100vh;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "Tarjeta1"
    "Tarjeta2"
    "Tarjeta3"
    "Tarjeta4"
    "footer"
  ;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  position: sticky;
  flex-direction: column;
  background-color: #999986;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
  grid-area: header;

}

header>p {
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

aside {
  margin-top: 1rem;
  grid-area: aside;
  border-radius: 0.5rem;
  padding: 2rem;
  border: 1px solid aliceblue;
  background-color: lightyellow;
}

aside>ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside>ul>li {
  margin-bottom: 10px;
  list-style-type: none;
  color: #656559;
  border:1px solid #656559;
  padding: .2rem   0.8rem;
}
ul>li:nth-child(4){
  padding: .2rem  3rem;
}
main {
  grid-area: main;
  background-color: lightyellow;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

/* img {
  
  max-height: 200px;
  
} */

section {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 9999;
  color: white;
  font-weight: bold;
  word-wrap: normal;
  margin: auto;
  align-items: center ;
  background-image: url("https://cdn.pixabay.com/photo/2017/02/15/10/57/pizza-2068272_1280.jpg");
  padding: 1rem;
}
section > p {
  padding: 1rem;
  font-weight: bolder;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
  font-size: 1rem;
}

section:first-child {
  font-size: 1rem;
}

button {
  border: none;
  padding: 0.25rem;
}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
  font-weight: bold;
}
.Tarjeta1{
  grid-area: Tarjeta1;
  display: flex;
  background-color: lightyellow;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
  opacity: 0.7;
  transition:all,0.5s;
}
.tarjeta-contenido{
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.tarjeta-texto{
  width: 50vw;
  color: #656559;
  text-align: center;
}
.imagen-comida{
  height: 20vh;
  width: 40vw;
  border-radius: 0.5rem;
  margin: auto;
} 
.tarjeta-btn{
  width: 30vw;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  border:none;
  color: #fff;
  background-color: #ccccb3;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: color,.5s;
}
.tarjeta-btn:hover{
  background-color: #999986;
  color:#ccccb3;
  transform: scale(1.2,1.2);
}
.Tarjeta2{
  grid-area: Tarjeta2;
  display: flex;
  background-color: lightyellow;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
  opacity: 0.7;
  transition:all,0.5s;
}
.Tarjeta3{
  grid-area: Tarjeta3;
  display: flex;
  background-color: lightyellow;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
  opacity: 0.7;
  transition:all,0.5s;
}

.Tarjeta4{
  grid-area: Tarjeta4;
  display: flex;
  background-color: lightyellow;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
  opacity: 0.7;
  transition:all,0.5s;
}
.Tarjeta1:hover, .Tarjeta2:hover, .Tarjeta3:hover, .Tarjeta4:hover{
  opacity: 1;
  font-weight: bold;
  transform: scale(0.9,0.9)
}

footer {
  color: #656559;
  grid-area: footer;
  text-align: center;
  padding: 1.5rem;
}
@media screen and (min-width: 600px) {
  body {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
    grid-template-areas:
      "header header header header header header"
      ". aside main main main ."
      ". aside main main main ."
      ". aside main main main ."
      ". Tarjeta1 Tarjeta2 Tarjeta3 Tarjeta4 ."
      ". footer footer footer footer .";
  }

  nav {
    display: flex;
    flex-direction: row;
  }
  header {
    flex-direction: row;
    padding: 2rem;
  }
  .Tarjeta1, .Tarjeta2, .Tarjeta3, .Tarjeta4{
    flex-direction: column;
    max-width: 20vw;
    border-radius: 1rem;
    transition: color,0.5s;
  }
  .Tarjeta1:hover, .Tarjeta2:hover, .Tarjeta3:hover, .Tarjeta4:hover{
    opacity: 1;
    font-weight: bold;
    transform: translateY(-15px);
  }
  .imagen-comida{
    width: 16vw;
  }
  .tarjeta-texto{
    width: 16vw;
  }
  .tarjeta-btn{
    width: 8vw;
  }
  aside>ul{
    height: 25vh;
    justify-content: space-around;
  }
  /* aside{
    width: 16vw;
    height: 28vh;
  } */
}